---
import { Image } from 'astro:assets';
import { base64Symbol, siteUrl, githubLink, twitterLink, discordLink, apiLinks, modules } from '@config/config.mjs';
import { path } from '@services/router.mjs';

const url = Astro.url;
let {
	pageTitle = 'Modular JavaScript Framework.',
	headerVisible = true,
	pageRobots = 'index, follow',
	pageDescription = 'Signalize is a client-side, module based, dependecy-less javascript framework designed for swift web development with minimum javascript. Web Components, Reactivity, Directives, SPA, and a lot more. A client-side JavaScript framework for everything.'
} = Astro.props

pageTitle = pageTitle + ' | Signalize.js';
const pageUrl = `${siteUrl}${url.pathname.replace(/\/+$/, '')}`;
const pageImage = `${siteUrl}/images/og-image.png`;

const getStartedLinks = [
	{ label: 'Introduction', link: path('docs', { slug: 'introduction' })},
	{ label: 'Creating a Module', link: path('docs', { slug: 'creating-a-module' })},
	{ label: 'Tips for writting JavaScript', link: path('docs', { slug: 'tips-for-writting-javascript' })},
];

const organizationSchema = {
	"@context":"https://schema.org",
	"@type":"Organization",
	"url":"https://signalizejs.com",
	"logo":"https://signalizejs.com/images/logo/vertical.png"
}

---

<html lang="en">
	<head snippet="head">
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />

		<link rel="apple-touch-icon" sizes="180x180" href="/favicon.png">
		<link rel="icon" href={base64Symbol} sizes="any" type="image/png">
		<link rel="manifest" href="/site.webmanifest">
		<link rel="mask-icon" href="/assets/images/favicon/safari-pinned-tab.svg" color="#121212">
		<link rel="prefetch" href={path('docs')} />

		<meta name="msapplication-TileColor" content="#121212">
		<meta name="theme-color" content="#121212">

		<meta name="description" content={pageDescription}>

		<meta name="title" content={pageTitle} />
		<meta name="description" content={pageDescription} />
		<link rel="canonical" href={pageUrl} />

		<meta name="robots" content={pageRobots} />

		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website" />
		<meta property="og:url" content={pageUrl} />
		<meta property="og:title" content={pageTitle} />
		<meta property="og:description" content={pageDescription} />
		<meta property="og:image" content={pageImage} />

		<!-- Twitter / X -->
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content={pageUrl} />
		<meta property="twitter:title" content={pageTitle} />
		<meta property="twitter:description" content={pageDescription} />
		<meta property="twitter:image" content={pageImage} />

		<title>{pageTitle}</title>

		<script>
			import '@assets/global';
		</script>
		<style is:global>
			@import 'normalize.css';
			@import '@assets/css/stylify.css';
			@import '@assets/fonts/icons/style.css';
			@import '@assets/css/prism.css';
		</style>
	</head>
	<body>
		<spa-loader class="width:100% overflow:hidden height:4px pointer-events:none position:fixed left:0 top:0 z-index:4 pointer-events:none" hidden>
			<div ref="indicator" class="width:0 height:100% background:linear-gradient(to_right,$red,$red)"></div>
		</spa-loader>

		<div snippet="content">
			{headerVisible && (
				<header class="container display:flex flex-direction:column lg:display:grid lg:grid-template-columns:1fr_2fr_1fr align-items:center">
					<div>
						<a href={path('homepage')} class="display:flex" aria-label="Signalize Homepage">
							<Image src={'/images/logo-light.svg'} width="200" height="100" alt="" />
						</a>
					</div>
					<div class="lg:display:none margin-bottom:12px">
						<div class="[a]{color:#000;text-decoration:none;font-size:32px;hover:color:$red} display:flex align-items:center gap:12px">
							<a href={githubLink} aria-label="Github" target="_blank" rel="noopener" class="with-icon">
								<i class="icon-github"></i>
							</a>
							<a href={discordLink} aria-label="Discord" target="_blank" rel="noopener" class="with-icon">
								<i class="icon-discord"></i>
							</a>
							<a href={twitterLink} aria-label="X" target="_blank" rel="noopener" class="with-icon">
								<i class="icon-x"></i>
							</a>
						</div>
					</div>
					<nav class="justify-content:center align-items:center display:flex gap:12px [a]{color:$grey;hover:color:$red;text-decoration:none}">
						<span class="lg:display:none"><a href={path('docs')} class="button button--outline text-transform:uppercase">Documentation</a></span>
						<a href={path('playground')}>Playground</a>
					</nav>
					<div class="display:none lg:display:flex gap:12px align-items:center">
						<a href={path('docs')} class="button button--outline text-transform:uppercase">Documentation</a>
						<div class="[a]{color:#000;text-decoration:none;font-size:32px;hover:color:$red} display:flex align-items:center gap:12px">
							<a href={githubLink} aria-label="Github" target="_blank" rel="noopener" class="with-icon">
								<i class="icon-github"></i>
							</a>
							<a href={discordLink} aria-label="Discord" target="_blank" rel="noopener" class="with-icon">
								<i class="icon-discord"></i>
							</a>
							<a href={twitterLink} aria-label="X" target="_blank" rel="noopener" class="with-icon">
								<i class="icon-x"></i>
							</a>
						</div>
					</div>
				</header>
			)}
			<main>
				<slot />
			</main>
		</div>

		<footer class="margin-top:100px md:margin-top:200px margin-bottom:32px container color:$grey [a]{text-decoration:none;color:$grey;hover:color:$red} font-size:14px">
			<div class="border-bottom:1px_solid_$border padding-bottom:24px margin-bottom:24px display:flex gap:24px tolg:flex-direction:column lg:gap:100px">
				<div class="max-width:380px">
					<Image src={'/images/symbol.svg'} width="100" height="100" alt="" />
					<p>Signalize is a client-side, module based, platform-focused, dependecy-less javascript framework designed for swift web development with minimum javascript.</p>
					<div class="[a]{font-size:24px} display:flex gap:8px margin-top:12px">
						<a href={githubLink} aria-label="Github" target="_blank" rel="noopener" class="with-icon">
							<i class="icon-github"></i>
						</a>
						<a href={discordLink} aria-label="Discord" target="_blank" rel="noopener" class="with-icon">
							<i class="icon-discord"></i>
						</a>
						<a href={twitterLink} aria-label="X" target="_blank" rel="noopener" class="with-icon">
							<i class="icon-x"></i>
						</a>
					</div>
				</div>
				<div class="
					display:flex gap:64px lg:gap:120px tolg:flex-wrap:wrap
					[section_nav]{display:flex;flex-direction:column;gap:8px}
					[h3]{text-transform:uppercase;margin-top:0}
				">
					<section>
						<h3>Get Started</h3>
						<nav>
							{getStartedLinks.map(({ link, label }) => (
								<a href={link}>{label}</a>
							))}
						</nav>
					</section>

					<section>
						<h3>Modules</h3>
						<nav>
							{Object.values(modules).map(({ name, slug }) => (
								<a href={`${path('docs', { slug: `modules/${slug ?? name}` })}`}>{name}</a>
							))}
						</nav>
					</section>

					<section>
						<h3>Api</h3>
						<nav>
							{apiLinks.map(({ slug, label, anchor }) => (
								<a href={`${path('docs', { slug: slug })}${anchor ? `#${anchor}` : ''}`}>{label}</a>
							))}
						</nav>
					</section>
				</div>
			</div>
			<div>
				Signalizejs is released under the MIT License.<br>
				Copyright © 2024 - today Vladimír Macháček
			</div>
		</footer>

		<scroll-to-top-button>
			<a
				ref="button"
				role="button"
				class="
					position:fixed bottom:0 right:24px text-decoration:none font-size:32px transform:translateY(100px) width:50px height:50px
					display:inline-flex align-items:center justify-content:center border-radius:50px font-weight:700 cursor:pointer color:#fff user-select:none text-decoration:none background:$red transition:.3s
					box-shadow:0_4px_8px_rgba(0,0,0,0.16),0_4px_8px_rgba(0,0,0,0.23) will-change:transform,background-color
					[&:hover,&:focus]{background:lighten($red,50)}
					[&.s-visible]{transform:translateY(-24px)}
				"
				aria-label="Back to top"
			>
				<i class="icon-arrow-right-circle display:inline-flex rotate:-90deg"></i>
			</a>
		</scroll-to-top-button>

		<script type="speculationrules">
			{
			  "prerender": [
				{
				  "where": {
					"href_matches": "/*"
				  },
				  "eagerness": "moderate"
				}
			  ]
			}
		  </script>

		<script type="application/ld+json" set:html={JSON.stringify(organizationSchema)}></script>
	</body>
</html>
